<!DOCTYPE html>
<html>
<head>
  <title>Team Dynamics</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="container p-4">
  <%= yield %>
</body>
</html>